@model IEnumerable<AgendaAspNetCoreDapper1.Models.Contato>

@{
    ViewData["Title"] = "Contatos";
}

<a asp-controller="Home" asp-action="Index">Voltar</a>
<hr />

<h2>Contatos</h2>

<hr />
<a asp-controller="Contatos" asp-action="Cadastro" asp-route-id="0">Novo</a>
<hr />

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>UF</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contato in Model)
        {
        <tr>
            <td>@contato.ContatoId</td>
            <td>@contato.Nome</td>
            <td>@contato.Valor</td>
            <td>@contato.UF</td>
            <td>
                <a asp-controller="Contatos" asp-action="Cadastro" asp-route-id="@contato.ContatoId">Alterar</a>
                <a asp-controller="Contatos" asp-action="Excluir" asp-route-id="@contato.ContatoId">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>